<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <p>Du hast eine Nachriicht von dem Kontakformular der Seite erhalten
    <%= "#{ @name }, #{ @email }." %></p>
    <p><%= @body %></p>
  </body>
</html>